extends layout

block content

      h1 we can inline code with jade 
      p
        | We can set some variables to test if we are in development or production mode

      - var env = 'dev';

      - if (env == 'dev') {
          p we are in dev environment
      - } else {
          p we are in production environment
      - }
      p
        | above we are responding with `we are in dev environment`
      P
        | because that is the environment we are in, remember earlier?
        | we can set our environment in the terminal with NODE_ENV=production 
      <br />

      h2 Modern web development with Nodejs and Express.
      script(src="//cdnjs.cloudflare.com/ajax/libs/mootools/1.4.5/mootools-core-full-compat-yc.js")
      footer
        p
          | Copyright 2013 &copy; Tony Brown Development
