doctype5
html
  head
    title Welcome to Jade
  body
    h1 Jade and Express
    p
    p
      | Working together to make your life easier
      | and if you're like me, that's perfect
    h2 What can I say or do

    p
      | There's no turning back now that it's through
    p 
      | I realized too late, now there's no retake of what it takes

    h3 Dokken: breaking the chains
