doctype5
html
  head
    title Welcome to Jade
    style
      body {
        margin: 30px auto 0;
        width: 80%;
        color: #555;
      }
        h1, h2, h3, h4 { 
          color: #DDD;
          text-shadow: -1px -2px 0 #000, 1px 2px 1px #000;
        }
  body
    h1 Jade and Express
    h2 Welcome to the site
    p
      | Working together to make your life easier
      | and if you're like me, that's perfect
    h2 What can I say or do

    p
      | There's no turning back now that it's through
    p 
      | I realized too late, now there's no retake of what it takes

    h3 Dokken: breaking the chains
