doctype5
html
  head
    title Welcome to Jade
    link(rel='stylesheet', href='styles/style.css')
    script(href="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
  body
    #wrap
      h1 Jade and Express
      h2 Welcome to the site
      p
        | Working together to make your life easier
        | and if you're like me, that's perfect
      h2 What can I say?

      p
        | There's no turning back, once you write with something like 
        | haml or ejs or even better Jade!
      p 
        | It makes writting markup nice and elegant. Loosing all the annoyences
        | of standard HTML and CSS

      h3 Progression through forward thinking 
    footer
      h3 footer stuff here
      p
        | Copyright 2013 &copy; Tony Brown Developer
