extends layout

block content

  h1 Welcome to the CRM portal
  p
    | This is the content from a jade file that's
    | requesting the layout file
  p 
    | This makes updating and scaling later on
    | are a breeze and no longer dreaded.

  script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
  footer
    p
      | Copyright 2013 &copy; Tony Brown Development
 
