!!!
html(lang='en')
  head
    title Layout Page 
    link(rel='stylesheet', href='styles/style.css')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
    script(src="http://modernizr.com/downloads/modernizr-latest.js")
  body
    #wrap
      header
        #nav
          ul#main-nav
            li
              a#current(href='/') Home
            li
              a(href='#') work
              ul
                li
                  a(href='/home') JS
                li
                  a(href='/element') PHP
                li
                  a(href='/forms') Ruby
                li
                  a(href='/more') Design
                li
                  a(href'/script') UX
                li
                  a(href='/test') IA
                li
                  a(href='/stuff') UI
            li
              a(href='/about') About
            li
              a(href='/code') code
      #main-section
        h1 Main Section 
        p
          | content will be loaded via extends layout
          | from any other jade template file
        
        block content
