!!!
html(lang='en')
  head
    title Layout Page 
    link(rel='stylesheet', href='styles/style.css')
    link(rel='stylesheet', href='/styles/stylus.css', type='text/css')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
    script(src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.1/underscore-min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js")
    script(src="http://modernizr.com/downloads/modernizr-latest.js") 
      <!--[if IE]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->
  body.no-js
    script
      var el = document.getElementsByTagName("body")[0];
      el.className = "";
    #wrap
      header
        #nav
          ul#main-nav
            li
              a#current(href='/') Home
            li
              a(href='#') work
              ul
                li
                  a(href='/home') JS
                li
                  a(href='/elements') PHP
                li
                  a(href='/forms') Ruby
                li
                  a(href='/more') Design
                li
                  a(href'/script') UX
                li
                  a(href='/test') IA
                li
                  a(href='/stuff') UI
            li
              a(href='/about') About
            li
              a(href='/code') code
      #main-section
        h1 Main Section 
        p
          | content will be loaded via extends layout
          | from any other jade template file

        script
          (function($) {
            // cache the nav
            var nav = $("#nav");

            nav.find('li').each(function() {
              if ($(this).find('ul').length > 0) {

                $('<span>').text("^").appendTo($(this).children(':first'));

                  //show subnav on hover
                    $(this).mouseenter(function () {
                    $(this).find('ul').stop(true, true).slideDown();
                  });

                  // hide submenus on exit
                  $(this).mouseleave(function(){
                    $(this).find('ul').stop(true, true).slideUp();
                  });
                }
            });
          })(jQuery);
        
        block content
