extends layout

block content

  h1 Test Page
  p
    | Well I guess if this is working
    | and you are reading this
  p
    | than all is well 
    | and we will move on to the next
    | solutions



