/*=================================================
 * Global Styles
 * Author:
 *
 *===============================================*/
::-moz-selection {
  background-color: firebrick;
  text-shadow: none;
  color: white;
}
::selection {
  background-color: firebrick;
  text-shadow: none;
  color: white;
}

header, article, nav, section, tbody, th, footer {
  display: block;
}

html {
  font-size: 100%;
  margin: 0;
  padding: 0;
}
body {
  position: relative;
  color: #777;
  height: 100%;
  min-height: 100%;
}

header {
  width: 100%;
  height: 100px;
}

/*=================================================
 * Common Styles
 * Author:
 *
 *===============================================*/


#wrap {
  width: 80%;
  margin: 40px auto 0;
}


/*=================================================
 * Navigation Styles
 * Author:
 *
 *===============================================*/
#nav {
  position: relative;
  width: 60%;
  min-width: 389px;
  height: 40px;
  float: right;
  background-color: #333;
  border: 1px solid #333;
  padding: 0;
  margin: 0 0 0 1em;
}

  #nav ul {
    width: 60%;
    min-width: 389px;
    height: 40px;
    float: none;
    background-color:#333;
    padding: 0;
    margin: 0;
    line-height: 2.4em;
    float: right;
  }
  #nav ul:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
    #nav li {
      position: relative;
      float: left;
      list-style: none;
      padding:0;
      background-color: transparent;
    }
      #nav a {
        text-decoration: none;
        text-align: center;
        margin: 0 ;
        padding:10px 20px;
        color: #e8e8e8;
        text-transform: uppercase;
        border-right: 1px solid #222;
        border-left: 1px solid #999;
      }
        #nav li:first-child a { border-left: none;}
        #nav li:last-child a { border-right: none;}
        #nav a span { display: block; float: right; right: right; margin-left: 5px;}

    #nav ul ul {
      float: left;
      margin-top: 10px;
      width: 100%;
      height: 100%;
      background-color: blue;
      display: none;
    }
      #nav ul ul li { float: none;}





/*=================================================
 * Footer Styles
 * Author:
 *
 *===============================================*/

footer {
  width: 100%;
  height: 133px;
  background-color: #383838;
  text-align: center;
  line-height: 1.4em;
  color: #e7e7e7;
  position: fixed;
  left: 0;
  bottom: 0;
}
