/*=================================================
 * Global Styles
 * Author:
 *
 *===============================================*/
::-moz-selection {
  background-color: firebrick;
  text-shadow: none;
  color: white;
}
::selection {
  background-color: firebrick;
  text-shadow: none;
  color: white;
}

header, article, nav, section, tbody, th, footer {
  display: block;
}

html {
  font-size: 100%;
  margin: 0;
  padding: 0;
}
body {
  position: relative;
  color: #777;
  height: 100%;
  min-height: 100%;
}

header {
  width: 100%;
  height: 100px;
}

/*=================================================
 * Fallback Styles
 * For IE
 * Author:
 *===============================================*/
.no-cssgradients #nav, .no-js #nav {
  /*padding-bottom: 4px;*/
  border: none;
  background:url(../styles/img/navBg.gif) repeat-x 0 0;
}

.no-borderradius #nav ul ul, .no-js #nav ul ul { background: none; }

.no-borderradius #nav li, .no-js #nav li { height: 41px;}

.no-cssgradients #nav li:hover, .no-js #nav li:hover {
  background: url(../styles/img/navOverBG.gif) repeat-x 0 0;
}

.no-borderradius #nav li li, .no-js #nav li li {
  height: auto;
  width: 98%;
  left: -2px;
}

.no-borderradius #nav li:first-child, .no-js #nav li:first-child {
  background: url(../styles/img/navLeft.gif) no-repeat 0 0;
}

.no-borderradius #nav li:first-child:hover, .no-js #nav li:first-child:hover {
  background:url(../styles/img/navOverLeft.gif) no-repeat 0 0;
}

.no-borderradius #nav li li:first-child,
.no-js #nav li li:first-child {
  background: none;
}

.no-rgba #nav ul ul, .no-js #nav ul ul {
  left: 1px;
  padding-left: 2px;
  background: url(../styles/img/subnavBG.png) no-repeat 100% 100%
}

.no-rgba #nav ul ul a, .no-js #nav ul ul a { left: 3px; }

.no-rgba #nav ul ul a:hover {
  background:url(../styles/img/subOverBG.png) repeat 0 0;
}

.no-csstransforms ul a span { 
  height: 7px; 
  width: 12px; 
  margin-top: 8px; 
  text-indent: -5000px;
  overflow:hidden; 
  background:url(../styles/img/indicator.png) no-repeat 0 0;
}

.no-borderradius ul ul li:last-child { margin-bottom: 10px; }

.no-cssgradients.boxshadow #nav { box-shadow: none; }


/*=================================================
 * Common Styles
 * Author:
 *
 *===============================================*/


#wrap {
  width: 80%;
  margin: 40px auto 0;
}


/*=================================================
 * Navigation Styles
 * Author:
 *
 *===============================================*/
#nav {
  position: relative;
  /*width: 50%;*/
  width: 371px;
  min-width: 370px;
  height: 45px;
  float: none;
  background-color: #6a6a6a;
  border: 1px solid #333;
  padding: 0;
  margin: 0;
}

  #nav ul {
    width:100%;
    float: none;
    padding: 0;
    margin: 0;
    line-height: 2.4em;
    float: right;
  }
  #nav ul:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
    #nav li {
      position: relative;
      float: left;
      height: 45px;
      list-style: none;
      padding:0;
      background-color: transparent;
    }
      #nav a {
        display: block;
        text-decoration: none;
        text-align: center;
        margin: 0 ;
        padding:1px 20px;
        color: #e8e8e8;
        text-transform: uppercase;
        border-right: 1px solid #222;
        border-left: 1px solid #999;
      }
        #nav li:first-child a { border-left: none;}
        #nav li:last-child a { border-right: none;}
        #nav a span { display: block; float: right; right: right; margin-left: 5px;}

    #nav ul ul {
      display: none;
      height: auto;
      width: 100%;
      position: absolute;
      left: 0;
      top: 46px;
      background: #6a6a6a;
    }
        /*#nav ul li:hover ul { display: block; }*/
      #nav ul ul li { 
        float: none;
      }
       #nav ul ul a {
        padding: 5px 10px; 
        border-left: none;
        border-right: none;
       }




/*=================================================
 * CSS3 Styles
 * Author:
 *
 *===============================================*/


.borderradius #nav {
  -webkit-border-radius: 4px;-
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.cssgradients #nav {
  background-image:-webkit-gradient(linear, 0% 0%, 0% 60% from(#777), to(#222));
  background-image: -moz-linear-gradient(0% 22px 180deg, #222, #777);
  background-image: linear-gradient(180deg, #111, #666);
}
  .cssgradients #nav li:hover {
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#111), to(#555));
    background-image: -moz-linear-gradient(0% 100px 180deg, #666, #111);
    background-image: linear-gradient(-180deg, #444, #111);
  }

.boxshadow.rgba #nav {
  -webkit-box-shadow: 2px 2px 2px rgba(0,0,0,.75);
  -moz-box-shadow: 2px 2px 2px rgba(0,0,0,.75);
  box-shadow: 2px 2px 2px rgba(0,0,0,.75);
}
.borderradius #nav ul ul,.borderradius #nav ul ul li:hover {
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-bottomLeft: 4px;
  -moz-border-radius-bottomRight: 4px;
  -border-bottom-left-radius: 4px;
  -border-bottom-right-radius: 4px;
}

.rgba #nav ul ul a:hover {
  background-color: rgba(85,85,85,.9);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4p;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#333), to(#777));
  background-image: -moz-linear-gradient(0% 100px 180deg, #777, #333);
  background-image: linear-gradient(-180deg, # 777, #333);
  border-top: 1px solid #999;
}
.boxshadow.rgba #nav ul ul {
  background-color: rgba(0,0,0,0.8);
  -moz-box-shadow: 2px 2px 2px rgba(0,0,0,.8);
  -webkit-box-shadow: 2px 2px 2px rgba(0,0,0,.8);
  box-shadow: 2px 2px 2px rgba(0,0,0,.8);
}

.rgba #nav ul ul li {
  border-left: 1px solid rgba(0,0,0,0.1);
  border-right: 1px solid rgba(0,0,0,0.1);
}


.borderradius.rgba #nav ul ul li:last-child {
  border-left: 1px solid rgba(0,0,0,0.1);
  border-bottom: 1px solid rgba(0,0,0,0.1);
  -moz-border-radius-bottomLeft: 4px;
  -moz-border-radius-bottomRight: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.csstransforms ul a span {
  -moz-transform:rotate(-180deg);
  -webkit-transform:rotate(-180deg);
}


#nav a {
  text-shadow: -1px -2px 1px #000;
}

/*#nav a:hover {
  color: #B00;
  text-shadow: 1px 1px 12px #Fc7;
}*/








/*=================================================
 * Footer Styles
 * Author:
 *
 *===============================================*/

footer {
  width: 100%;
  height: 83px;
  background-color: #383838;
  text-align: center;
  color: #e7e7e7;
  position: fixed;
  left: 0;
  bottom: 0;
}
