#stylus
  color #bf9f77
  font-family Georgia
  font-size larger
  font-style italic
  width 50%

#box
  border-color #000000
  border-style dotted
  background-color #BBBBBB
  color #333333
  padding 1em
